# Database Configuration (Docker)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=gielda

# Database Configuration for Backend
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5433
DB_NAME=gielda

# JWT
JWT_SECRET_KEY=HODOR_HODOR_HODOR_HODOR_HODOR_HODOR_HODOR_HODOR
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30